{% extends 'base.html' %}

{% load static %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <img class="img-fluid" src="{% static 'images/sale1.png' %}">


        </div>
    </div>

    <div class="py-4">
        <div class="container">
           <div class="row">
                <div class="col-10 mx-auto my-2 text-center">
                     <h1 class="text-capitalize font-weight-bold">
                        Our Products
                     </h1>

                </div>
           </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for product in products %}
                <div class="col-9 mx-auto col-md-6 col-lg-3">
                    <div class="card mb-5">
                        <div class="p-4">
                         <a href="{{product.get_url}}"><img class="card-img-top" src="{{product.image.url}}" alt="{{product.name}}"></a>

                        </div>

                        <div class="card-footer d-flex-justify-content=between" style="background: transparent; border-color: transparent;">
                            <p class="font-weight-bold mb-0">
                            {{product.name}}
                            </p>
                            <h5 class="text-info font-italic mb-0">
                                {{product.price}}
                            </h5>
                        </div>

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>



{% endblock %}